{% extends "layout.html" %}

{% block title %}
    My Budgets
{% endblock %}

{% block main %}
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Total</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        {% for budget in budgets %}
        <tr>
            <td><a class="text-decoration-none" href="{{url_for('view_budget', budget_id=budget['id']) }}">{{ budget['budget_title'] }}</td>
            <td class="text-capitalize">{{ budget['budget_type'] }}</td>
            <td>$ {{ "%.2f" | format(budget['total_budget']) }}</td>
            <td>{{ budget['timestamp'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}