{% extends "layout.html" %}

{% block title %}
Profile Image
{% endblock %}

{% block main %}
<div class="d-flex flex-row align-items-center">
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_image') }}">
        <label for="image">Select Profile Image:</label>
        <input class="btn btn-outline-dark" type="file" id="image" name="image" accept="image/*" required>
        <button type="submit" class="btn btn-outline-dark">Upload</button>
    </form>
</div>
{% endblock %}