{% extends "layout.html" %}

{% block title %}
    My Profile
{% endblock %}

{% block main %}
<div class="container">
    <div style="border-radius: 50%;">
        <!-- If User has image, post it here-->
         {% if user["profile_image"] %}
         <img src="{{ url_for('static', filename='uploads/' + user['profile_image']) }}" alt="Profile Image" class="img-fluid" style="width: 150px; height: 150px;">
         {% else %}
         <img src="{{ url_for('static', filename='default_profile.png') }}" alt="Default Profile" class="img-fluid" style="width: 150px; height: 150px;">
         {% endif %}
    </div>
    <div class="center">
        <!-- Username -->
        <div class="center">
            <h2>
                {{ user['username'] }}
            </h2>
        </div>
    </div>
</div>
<div class="container">
    <a href="/set_image">Add Profile Avatar</a>
    <a href="/change_password">Change My Password</a>
    <a href="/logout">Log out</a>
</div>
{% endblock %}